{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for auction in auctions %}
    <div class="auction_listing">

        {% if auction.img_link %}
        <div class="column">
            <img class="index_listing_image" src="static/auctions/images/{{   auction.img_link   }}" alt="Couldn't load Image"> 
        </div>
        {% endif %}
        

        <div class="column side">
            <h3><a href="{% url 'listing' auction.id %}" >{{   auction.title   }}</a></h3>
            
            {{  auction.description  }}
        </div>
        
        <div class="auction_price">
            {{ auction.bit  }} € 
        </div>
        
    </div>
    <hr>
    {% endfor %}
{% endblock %}